.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.addmovie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  padding: 1rem;
  border-radius: 15px;
  border-style: solid;
  background-color: #221f1f;
  border-color: darkred;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
}

.inputLabel {
  color: #b81d24;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.addmovie__input {
  font-family: "Lexend", sans-serif;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 0.5rem 0;
  width: 250px;
  height: 30px;
}

.addmovie__button {
  font-family: "Lexend", sans-serif;
  background-color: #b81d24;
  color: white;
  margin: 1rem 0;
  width: 250px;
  height: 30px;
  border: none;
}

.genreSelect {
  width: 250px;
  height: 30px;
  border-radius: 2px;
  background-color: #333;
  color: white;
  padding: 5px;
  border: 1px solid #666;
}

@media (min-width: 768px) {
  .addmovie {
    margin: 8px;
    max-width: 330px;
    height: auto;
  }
  .addmovie__input {
    width: 260px;
  }
}
